html {
	font-size: 2vw;
	
	@media screen and ( max-width: 700px ) {
		font-size: 14px;
	}
	
	@media screen and ( min-width: 800px ) {
		font-size: 16px;
	}
}
body {
	font-family: $font_main;
	font-size: 1em;
	color: $color_text;
	line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font_heading;
	color: $color_main;
	margin-top: 0;
	margin-bottom: 1em;
}

h1 {
	font-size: 2em;
	@media screen and ( min-width: 768px ) {
		font-size: 2.7em;
	}
}

h2 {
	font-size: 1.6em;
	@media screen and ( min-width: 768px ) {
		font-size: 2.2em;
	}
}

h3 {
	font-size: 1.3em;
	@media screen and ( min-width: 768px ) {
		font-size: 1.8em;
	}
}

h4 {
	font-size: 1em;
	@media screen and ( min-width: 768px ) {
		font-size: 1.5em;
	}
}

h5 {
	font-size: .9em;
	@media screen and ( min-width: 768px ) {
		font-size: 1.2em;
	}
}

h6 {
	font-size: .7em;
	@media screen and ( min-width: 768px ) {
		font-size: .8em;
	}
}

p {
	margin-bottom: 3em;
}

a {
	text-decoration: none;
	color: $color_main;
	
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: $color_main;
	}
}

.section-title, .section-sub-title {
	color: $black;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	letter-spacing: 5px;
}

.section-title-alt {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translate(-50%,50%);
	margin: 0;
	padding: 0 2em;
	background: $white;
}
